ul.filters {
  @extend .m-0;
  @extend .p-0;
  @extend .mb-3;
  list-style: none;
  li {
    @extend .px-3;
    padding: 0;
    margin: 0;
    display: inline;
    border-left: 1px solid #E0E0E0;
  }

  li:first-child {
    @extend .pl-0;
    border-left: none;
  }
}

.claim-display {
  @extend .d-flex;
  @extend .flex-row;

  ul.sidebar {
    @extend .m-0;
    @extend .p-0;
    max-width: 250px;
    list-style: none;
    overflow-y: scroll;
    max-height: 80%;
    small {
      display: block;
    }
    li {
      @extend .p-3;
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-between;
      border-bottom: 1px solid lighten($secondary, 45%);
      background-color: lighten($secondary, 50%);
      font-size: 14px;
      line-height: 21px;
      .applicant-name {
        font-weight: bold;
      }
      .applicant-id::before {
        content: "#";
      }
      .name-and-id {
        @extend .flex-grow-1;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
  .claim {
    @extend .flex-grow-1;
    @extend .text-dark;
    @extend .ml-2;

    header, section {
      @extend .mb-3;
    }

    header {
      @extend .d-flex;
      @extend .justify-content-between;
      .name {
        @extend .flex-grow-1;
      }
      .actions {
        a {
          @extend .mx-2;
        }
      }
      h2 {
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        small {
          font-size: 14px;
          line-height: 21px;
        }
        small::before {
          content: "#";
        }
      }
    }
    ul.nav-tabs {
      @extend .mb-3;
      .badge {
        @extend .ml-2;
      }
    }

    .tab-pane {
      h3 {
        @extend .my-4;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
      }

      dl {
        font-size: 14px;
        line-height: 21px;
        dt {
          @extend .col-3;
          font-weight: normal;
        }
        dd {
          @extend .col-9;
          font-weight: bold;
          address {
            display: inline;
          }
        }

        dd.passed {
          @extend .text-dark;

          i {
            @extend .text-success;
          }
        }

        dd.failed {
          @extend .text-danger;
        }

        .dl-row {
          @extend .row;
          @extend .py-3;
          border-top: 1px solid $gray-200;
        }
        .dl-row:first-child {
          border-top: none;
        }
      }
    }
  }
}

#APPLICANT_HISTORY_MODAL {
  ul {
    @extend .pl-0;
    li {
      list-style-type: "- ";
    }
  }
}
