.card
  .card-header
    %h5.card-title Documents
  %ul.list-group.list-group-flush
    - @applicant.documents.each do |document|
      - if document.file.attached?
        %li.list-group-item
          .d-flex.justify-content-between
            = image_tag document.file, style: 'width: 50%'
            %div{style: 'vertical-alignn: middle; height: 100%'}
              = decision_icon(document.decision, size: 2)
              %br
              = link_to t("shared.decisions.#{document.decision.parameterize}"), '#', data: { container: 'body', toggle: 'popover', placement: 'right', trigger: 'focus', title: 'All Checks Passed', content: 'Name, address, and DoB all MATCH SecureDV' }
