.card
  .card-header
    %h5.card-title= t('admin.applicants.show.result')
  .card-body.text-center
    %h3= t("shared.decisions.#{@applicant.decision.parameterize}")
    %p= decision_icon(@applicant.decision, size: 3)
