@import 'bootstrap/bootstrap_extensions';
@import '~bootstrap/scss/bootstrap';
@import 'bootstrap/bootstrap_overrides';
@import 'scrollbars';

body {
  @extend .d-flex;
  @extend .flex-row;
  @extend .text-dark;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
}

.full-height {
  height: 100%;
}

.full-width {
  height: 100%;
}

.no-space {
  @extend .m-0;
  @extend .p-0;
}

// Layouts:
@import 'layouts/application/navigation';
@import 'layouts/application/page';

// Application components:
@import 'applicants';
@import 'claims';
